/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 mai 2017, 14:31:52
    Author     : thomas.sauvajon
*/
body {    
/*    animation-name: fontalicious;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    background: #DCE35B;   fallback for old browsers 
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);   Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(to right, #45B649, #DCE35B);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
    color: #A1FFCE;   fallback for old browsers 
    color: -webkit-linear-gradient(to right, #FFFFFF, #A1FFCE);   Chrome 10-25, Safari 5.1-6 
    color: linear-gradient(to right, #FFFFFF, #A1FFCE);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
    border-bottom: solid 1px blue;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
}
td, th {
    border: 1px solid black;
    padding: 3px;
}

#page {
    width: 800px;
    margin: 0 auto;
}
#header {
    size: large;
    background: #3A1C71;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: 20px;
}
#menu {    
    animation-timing-function: ease-in-out;
    animation-name: strobe;
    animation-duration: 6s;
    float: right;
    width: 150px;
    padding: 5px;
    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-left: 20px;
}

#content {
    animation: rotating 2s linear;
}

#footer {
    animation-timing-function: ease-out;
    transform-origin: bottom center;
    animation-name: intensifies;
    animation-duration: 5s;
    size: small;
    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 20px;
}
.alert {
    color: red;
    border: solid 2px red;
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}